apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-exporter
  namespace: default
  labels:
    app: node-exporter
spec:
  selector:
    matchLabels:
      app: node-exporter
  template:
    metadata:
      labels:
        app: node-exporter
    spec:
      hostNetwork: true
      hostPID: true
      containers:
        - name: node-exporter
          image: prom/node-exporter:latest
          ports:
            - containerPort: 9100
              name: metrics
          securityContext:
            privileged: true
---
apiVersion: v1
kind: Service
metadata:
  name: node-exporter-service
  namespace: default
  labels:
    app: node-exporter
spec:
  type: NodePort
  ports:
    - port: 9100
      targetPort: 9100
      nodePort: 31364 # <--- This forces it to use your open port
      protocol: TCP
  selector:
    app: node-exporter
